    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'four_part_id']
           ]
    } %>
    <div class="pt-3 row">
      <div class="col-12 col-md-6">
        <h2>About this Site</h2>
        <p>This site includes finding aids from two repositories at Michigan State University Libraries: The <a href="https://lib.msu.edu/MurrayHongSPC/">Stephen O. Murray and Keelung Hong Special Collections</a>, and the <a href="https://lib.msu.edu/branches/ua/">University Archives and Historical Collections</a>. A finding aid provides information about an archival collection, including biographical or administrative history, scope of the collection, subjects, organization and arrangement, and an inventory of the series and/or folders in the collection.</p>
    </div>
    <div class="col-12 col-md-6 pr-4">
      <h2>Requesting Materials</h2>
      <p>Special Collections and University Archives materials can be accessed in the Reading Room at the Main Library, which is open by appointment. Because the majority of our collections are stored offsite, requests for materials must be made no less than three (3) business days before your appointment. We welcome students, faculty, visiting researchers, and members of the community to use our collections.</p>
      <p>To request materials from our collections:</p>
      <ul>
        <li>Explore a collection using the COLLECTION ORGANIZATION menu on the left side of the page.</li>
        <li>When you click on specific items of interest, the box number and folder number will be shown at upper left.</li>
        <li>Go to the library catalog and search by collection title (not by title of the specific document you want)</li>
        <li>Use the green GET THIS button to request the box you need. (The entire box will be delivered, so keep a record of which folder has the item you want to use.) To make an appointment at the Special Collections and University Archives Reading Room, visit: <a href="https://lib.msu.edu/MurrayHongSPC/appointments/">https://lib.msu.edu/MurrayHongSPC/appointments/</a>.</li>
      </ul>
      <p>For questions about University Archives materials, email <a href="mailto:archives@msu.edu">archives@msu.edu</a> or call <a href="tel:517-335-2330">517-355-2330</a>.</p>
      <p>For questions about Special Collections materials, email <a href="mailto:spc@lib.msu.edu">spc@lib.msu.edu</a> or call <a href="tel:517-884-6471">517-884-6471</a>.</p>
    </div>
  </div>
